#include "resource.h"

#include <afxres.h>
#include <CommCtrl.h>
#include <Richedit.h>

IDI_ICON ICON DISCARDABLE "..\\graphics\\egl3.ico"

IDD_INST DIALOGEX 0, 0, 331, 222
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_GROUP
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
    CONTROL "", IDC_BACK, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 166, 201, 50, 14
    CONTROL "", IDOK, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 201, 50, 14
    CONTROL "", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 273, 201, 50, 14
    CONTROL "", IDC_CHILDRECT, STATIC, SS_BLACKRECT | WS_CHILD | WS_GROUP, 15, 45, 300, 140
    CONTROL "", 1036, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 35, 340, 1
    CONTROL "", 1035, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 193, 321, 1
    CONTROL "", IDC_VERSTR, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 5, 188, 322, 8
    CONTROL "", IDC_HEADER, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 332, 35
    CONTROL "", IDC_TITLE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 5, 280, 10
    CONTROL "", IDC_DESCRIPTION, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 16, 275, 16
    CONTROL IDI_ICON, IDC_ICO, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 300, 8, 21, 20
}

IDD_LICENSE DIALOGEX 0, 0, 300, 140
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
    CONTROL "", IDC_TOPTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 15
    CONTROL "", IDC_EDIT, RICHEDIT_CLASS, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 15, 300, 93
    CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 113, 300, 26
}

IDD_DIR DIALOGEX 0, 0, 300, 140
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
    CONTROL "", IDC_DIR, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 85, 210, 12
    CONTROL "", IDC_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 83, 60, 15
    CONTROL "", IDC_SPACEAVAILABLE, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 125, 150, 8
    CONTROL "", IDC_SPACEREQUIRED, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 115, 150, 8
    CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 60
    CONTROL "", IDC_SELDIRTEXT, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 70, 300, 35
}

IDD_INSTFILES DIALOGEX 0, 0, 300, 140
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
    CONTROL "", IDC_SHOWDETAILS, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 1, 26, 60, 14
    CONTROL "", IDC_PROGRESS, PROGRESS_CLASS, PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 0, 10, 300, 11
    CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 0, 0, 300, 10
    CONTROL "", IDC_LIST1, WC_LISTVIEW, LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | WS_CHILD | WS_BORDER | WS_TABSTOP, 0, 25, 300, 110
}