/* Use for titles, etc. */
.font-huge {
    font-size: 300%;
}

.font-h1 {
    font-size: 200%;
}

.font-h2 {
    font-size: 175%;
}

.font-h3 {
    font-size: 150%;
}

.font-h4 {
    font-size: 125%;
}

.font-h5 {
    font-size: 110%;
}

.font-bold {
    font-weight: bold;
}

.font-translucent {
    opacity: 0.5;
}

/* Statuspage Colors */
.status-major {
    color: #e74c3c;
}

.status-partial {
    color: #f1c40f;
}

.status-degraded {
    color: #e67e22;
}

.status-maintenance {
    color: #3498db;
}

.status-operational {
    color: #2fcc66;
}

/* Add friend colors (taken from statuspage colors atm) */
.friendstatus-success {
    color: #2fcc66;
}

.friendstatus-ratelimit {
    color: #e67e22;
}

.friendstatus-failure {
    color: #e74c3c;
}

/* For headerbars */
.main-headerbar entry,
.main-headerbar spinbutton,
.main-headerbar button,
.main-headerbar separator {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.main-headerbar {
    min-height: 24px;
}

/* Friend chat bubbles */
.chatbubble-sent {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.chatbubble-recieved {
    background-color: mix(@bg_color, @fg_color, .1);
    color: shade(@fg_color, 1.1);
}

@define-color graph_color_0 mix(#FF0000, @fg_color, .7);
@define-color graph_color_1 mix(#00FF00, @fg_color, .7);
@define-color graph_color_2 mix(#0000FF, @fg_color, .7);
