[submodule "libstrophe"]
	path = libstrophe
	url = https://github.com/WorkingRobot/libstrophe
[submodule "WinToast"]
	path = WinToast
	url = https://github.com/WorkingRobot/WinToast.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/WorkingRobot/vcpkg.git
